<p>ようこそ、Nagano Cakeへ！<br>
   このサイトは、ケーキ販売のECサイトになります。<br>
   会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。<br>
</p>

  <h3>おすすめ商品</h3>
  <table>
			<th></th>
			<td></td>
			<td>商品名</td>
			<td></td>
		</tr>
		 
		<tr>
			<th></th>
			<td></td>
			<td>商品名</td>
			<td></td>
		</tr>
		 
		<tr>
			<th></th>
			<td></td>
			<td>商品名</td>
			<td></td>
	　　　</tr>
	　　　<tr>
			<<th></th>
			<td></td>
			<td>商品名</td>
			<td></td>
	　　　</tr>
</table>

<%#= link_to "もっと見る>", user_path(current_user.id), {class: "glyphicon glyphicon-home home"} %>