<% if flash[:notice] %>        
	 <p class="notice">
	 	<%= flash[:notice] %>	
	 </p>     
<%end%> 
<div class=row>
	<p class="text-center">
	   ようこそ、Nagano Cakeへ！<br>
	   このサイトは、ケーキ販売のECサイトになります。<br>
	   会員でない方も商品の閲覧はできますが、<br>
	   購入には会員登録が必要になります。<br>
	</p>>
</div>
      
  <h3>おすすめ商品</h3>
  <table class="table">
	    <% @items.each do |item| %>
		    <tr>
				<td><%= link_to public_item_path(item.id) do %>
					<%= attachment_image_tag item, :image, size:'100x100',format: 'jpeg' %>
					<% end %>
				</td>
				<th>商品名</th>
				<td>
					<%= item.name %>
				</td>
			</tr>
		<% end %>
</table>

<%#= link_to "もっと見る>", user_path(current_user.id), {class: "glyphicon glyphicon-home home"} %>